{% extends "rango/base.html" %}
{% block title_block %}
Add Page
{% endblock %}
{% block body_block %}
    <form method="POST" action="{% url 'rango:add_page' category_name_slug %}">
        {% csrf_token %}
        {% for item in form.visible_fields %}
        {{ item.name }} : {{ item }}
        {% if item.errors %}
        errors : {{ item.errors }}
        {% endif %}
        {% if item.help_text %}
        help_text : {{ item.help_text }}
        {% endif %}
        {% endfor %}
        {% for item in form.hidden_fields %}
        {{ item }}
        {% endfor %}
        <input type="submit" name="submit_page" value="Add Page">
    </form>
{% endblock %}

