{% extends "rango/base_bootstrap.html" %}
{% block title_block %}
    Add Page
{% endblock %}
{% block body_block %}
    <link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    {% if category %}
        <form role="form" id="page_form" method="post" action="{% url 'rango:add_page' category_name_slug %}">
            <h2 class="form-signin-heading"> Add a Page to <a href="{% url 'rango:view_category' category_name_slug%}">{{ category.name }}</a></h2>
            {% csrf_token %}
            <hr />
            {% for item in form.visible_fields %}
                {% if item.errors %}
                    errors : {{ item.errors }}
                {% endif %}
                {% if item.help_text %}
                    help_text : {{ item.help_text }}
                {% endif %}
                {% if item.name  = "url" %}
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{{ item.name }}</label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" id="{{ item.auto_id }}" name="{{ item.name }}" placeholder="{{ item.name }}" style="width:40%">
                        </div>
                    </div>
                {% else %}
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{{ item.name }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="{{ item.auto_id }}" name="{{ item.name }}" placeholder="{{ item.name }}" style="width:40%">
                        </div>
                    </div>
                {% endif %}
                <br />
            {% endfor %}
            {% for item in form.hidden_fields %}
            {{ item }}
            {% endfor %}
            <button class="btn btn-primary" type="submit" name="submit">Add Page</button>
        </form>
    {% else %}
        <p>This is category does not exist.</p>
    {% endif %}
{% endblock %}


