{% extends "rango/base.html" %}
{% block title_block %}
    add category
{% endblock %}
{% block body_block %}
    <form method="POST" action="{% url 'rango:add_category' %}" >
        {% csrf_token %}
        {% for item in form.visible_fields %}
            {{ item.errors }}
            {{ item.help_text }}
            {{ item }}
        {% endfor %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Create Category">
    </form>
{% endblock %}