<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Pages</title>
</head>
<body>
    <form method="POST" action="/rango/category/{{ category_name_slug }}/add_page/">
        {% csrf_token %}
        {% for item in form.visible_fields %}
            {{ item.name }} : {{ item }}
        {% if item.errors %}
            errors : {{ item.errors }}
        {% endif %}
        {% if item.help_text %}
            help_text : {{ item.help_text }}
        {% endif %}
        {% endfor %}
        {% for item in form.hidden_fields %}
            {{ item }}
        {% endfor %}
    <input type="submit" name="submit_page" value="Add Page">
    </form>
</body>
</html>